<!DOCTYPE html>
<html>
<head>
    <title>Mental Health Analyzer</title>
</head>
<body>
    <h2>Student Mental Health Analyzer</h2>

    <form action="/predict" method="post">
        Stress Level (1-5):
        <input type="number" name="stress" min="1" max="5"><br><br>

        Sleep Hours (1-5):
        <input type="number" name="sleep" min="1" max="5"><br><br>

        Anxiety Level (1-5):
        <input type="number" name="anxiety" min="1" max="5"><br><br>

        <button type="submit">Analyze</button>
    </form>
</body>
</html>
